.home {
    display: flex;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    .home__bg {
        height: 100%;
        width: 100%;
        position: relative;
        z-index: 10;
        background: #7D50C0;
        background: linear-gradient(45deg, #0A42A7 1%, #288AEE 100%);
    }
    &__wrap {
        justify-content: left;
        align-content: center;
        text-align: left;
        height: 9rem;
    }
    &__logo {
        position: absolute;
        top: 0;
        right: 0;
        &__a {
            display: block;
            width: 6rem;
            height: 6rem;
            border: 2px dashed #fff;
        }
    }
    &__h1 {
        animation: fade-in-from-bottom 1s ease-out forwards;
        color: #fff;
        @extend h4;
        font-weight: 800;
        line-height: 2.25rem;
        font-size: 1.75rem;
        margin-bottom: .5rem;
        @include desktop {
            font-size: 1.5rem;
            line-height: 1.75rem;
        }
        span {
            display: none;
        }
    }
    &__h2 {
        color: #fff;
        font-weight: 900;
        font-size: 4rem;
        line-height: 4.5rem;
        margin-left: 0.5rem;
        display: block;
        height: 100%;
        @include desktop {
            font-size: 3.5rem;
            line-height: 3rem;
        }
        @include tablet {
            font-size: 3rem;
            line-height: 3rem;
        }
        @include phone {
            font-size: 2rem;
            line-height: 2rem;
        }
        &__rewrite {
            word-break: normal;
            word-break: break-word;
            hyphens: none;
        }
    }
    &__scroll {
        height: 10rem;
        width: 10rem;
        position: absolute;
        bottom: 1.4rem;
        margin-left: 1.5rem;
        left: 0;
        cursor: pointer;
        @include desktop {
            margin-left: 1.5rem;
        }
        @include tablet {
            margin-left: 1.5rem;
        }
        @include phone {
            margin-left: 0.5rem;
        }
        &__wrap {
            height: 10rem;
            width: 10rem;
            position: relative;
        }
        &__text {
            width: 100%;
            text-align: left;
            padding-left: 2.65rem;
            position: absolute;
            bottom: 1.15rem;
            left: 0;
            @extend h6;
            font-size: .75rem;
            color: #fff;
        }
        &__circle {
            position: absolute;
            top: 0;
            height: 100%;
            width: 100%;
            svg {
                height: 10rem;
                width: 10rem;
                circle {
                    transition: all .2s ease;
                    opacity: .75;
                    fill: none;
                    stroke: white;
                    stroke-width: 1px;
                }
                &:hover {
                    circle {
                        transform: translate(-30px, -130px) scale(1.9);
                        stroke-width: .5px;
                    }
                }
            }
        }
        &__arrow {
            position: absolute;
            top: 0;
            svg {
                height: 10rem;
                width: 10rem;
            }
        }
    }
}

.swiper-slide-active .home__h1 {
    animation: fade-in-from-bottom 1s ease-out forwards;
}
